#article{
  text-align: center;
  border-style: solid;
  border-width: 2px;
  margin-right: 32%;
  margin-left: 32%;
  margin-top: 3%;
  background-color: white; 
  border-radius: 8px;
  height: 4000px
}

h1{
  font-size: 280%;
  margin-bottom: 0;
}

#article a{
  text-decoration: none;
  color: black;
}