body{
  background-color: #3D5467;
  font-family: arial;
}



ul{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 10%;
  margin-top: 1%;
}

li {
  list-style-type: none;
  padding: 0;
  display: inline;
}

li a{
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-right: 10%;
}


h2{
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3%;
  
}

#title{
  height: 18%;
  
}

/*add box shadow later? */

.box{
  border-style: solid;
  border-color: black;
  width: 800px;
  height: 500px;
  max-height: 100%;
  max-width: 100%;
  background-color: dodgerblue;
  border-color: #3D5467;
}

.box:hover{
  color:black;
  transition: .5s;
  background-color: gray;
  opacity: 0.4;
}


a href{
  display: block;
}


#imgs{
  display: flex;
  justify-content: flex-start;
  height: 82%;
}

img{
  width: 50%;

}

#row1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
}


#row2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}

#row1 a{
  text-decoration: none;
  color: black;
}

#row2 a{
  text-decoration: none;
  color: black;
}

